.navbar {
  color: "#e91e63";
}
.cardpositon {
  width: 100%;
}
.col {
  padding: 1rem;
  background-color: #33b5e5;
  border: 2px solid #fff;
  color: #fff;
  text-align: center;
}
.sectionPage {
  position: relative;
  margin-bottom: -125px;
}

.container {

  width: 100%;
}

.sectionPage::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background: url("../images/bay.png");
  background-position: center center;
  background-size: cover;
  filter: opacity(0.1);
}

.navbar .breadcrumb .breadcrumb-item {
    color: rgb(8, 8, 8);
}

.navbar {
    /* font-weight: 300; */
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0), 0 2px 10px 0 rgba(0, 0, 0, 0);
}

.navbar .breadcrumb {
    margin-left: 0 0 0 10px;
    background-color: inherit;
} 
.contact{
    padding: 0.4rem 0 0 0;
    font-size: 18px;
    font-weight: 400;
}
.sort{
    padding: 0.6rem 0 0 1rem;
    font-size: 15px;
    font-weight: 300;
}
.import-angle{
    padding: 0.6rem 0 0 1rem;
    font-size: 15px;
    font-weight: 300;
    margin: 0px 20px 0px 0px
}

.dateCreated{
    padding: 0.6rem 0 0 1rem;
    font-size: 16px;
    font-weight: 400;
}

#color-import{
    color: purple;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.fa-sync:before {
    color:cornflowerblue;
}