.navbar {
  color: "#e91e63";
}
.cardpositon {
  width: 100%;
}
.col {
  padding: 1rem;
  background-color: #33b5e5;
  border: 2px solid #fff;
  color: #fff;
  text-align: center;
}
.sectionPage {
  position: relative;
  margin-bottom: -125px;
}

.container {

  width: 100%;
}

.sectionPage::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background: url("../images/bay.png");
  background-position: center center;
  background-size: cover;
  filter: opacity(0.1);
}

.navbar .breadcrumb .breadcrumb-item {
    color: rgb(8, 8, 8);
}

.navbar {
    /* font-weight: 300; */
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0), 0 2px 10px 0 rgba(0, 0, 0, 0);
}

.navbar .breadcrumb {
    margin-left: 0 0 0 10px;
    background-color: inherit;
} 

.contact{
    padding: 0.4rem 0 0 0;
    font-size: 18px;
    font-weight: 400;
}

.contact-detail{
    padding: 0.4rem 0 0 0;
    margin: 0px 0px 0px 6px;
    font-size: 18px;
    font-weight: 400;
    color: purple;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.detailIcon{
    padding: 0.4rem 0 0 0;
    margin: 0px 0px 0px 0px;
    color: purple;
}

.carddetailIcon{
    padding: 0.4rem 0 0 0;
    margin: 1px 5px 1px 10px;
    color: purple
}

.carddetailIconBottom{
    padding: 0.1rem 0 0 0;
    margin: 2px 20px 1px 15px;
    color: purple !important,
}

.sort{
    padding: 0.6rem 0 0 1rem;
    font-size: 15px;
    font-weight: 300;
}
.import-angle{
    padding: 0.6rem 0 0 1rem;
    font-size: 15px;
    font-weight: 300;
    margin: 0px 20px 0px 0px
}

.dateCreated{
    padding: 0.6rem 0 0 1rem;
    font-size: 16px;
    font-weight: 400;
}

#color-import{
    color: purple;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.fa-sync:before {
    color:cornflowerblue;
}

table.table th, table.table td {
    padding-top: 1.1rem;
    padding-bottom: 1rem;
    cursor: pointer;
}

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
  }
  .rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
  }
  .rating > span:hover:before,
  .rating > span:hover ~ span:before {
     content: "\2605";
     position: absolute;
  }

  .contactinfo{
      font-size: 12px;
  }

  .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: #DDA0DD;
    color: purple;
    background-color: #DDA0DD;
    /* border-color: #dee2e6 #dee2e6 #fff; */
  }

  .list-group-item  {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    /* background-color: #e4e4e438; */
    border: 1px solid rgba(0,0,0,.125);
}